body{
    align-items: center;
}
.vidas{
    width: 50px;
    height: 25px;
    border: 20px black;
    background-color: blue
}
.puntaje{
    width: 50px;
    height: 25px;
    border: 20px black;
    background-color: orange;
}
.puntaje{
    position: absolute;
    left: 125px;
    top: 7px;
}
.tiempo{
    width: 50px;
    height: 25px;
    border: 20px black;
    background-color: green;
    position: absolute;
}
.tiempo{
    position: absolute;
    left: 237px;
    top: 7px;
}
.suelo{
    width: 1290px;
    height: 95px;
    border: 20px black;
    background-color: brown;
}
.suelo{
    position: absolute;
    top: 550px;
}
.caja6{
    align-items: left;

}