body{
    align-items: center;
}
.vidas{
    width: 50px;
    height: 25px;
    border: 20px black;
    background-color: blue
}
.vidas{
    position: absolute;
    background-position-x: 0px;
    z-index: 2;
}
.puntaje{
    width: 50px;
    height: 25px;
    border: 20px black;
    background-color: orange;
}
.puntaje{
    position: absolute;
    left: 125px;
    top: 7px;
}
.tiempo{
    width: 50px;
    height: 25px;
    border: 20px black;
    background-color: green;
    position: absolute;
}
.tiempo{
    position: absolute;
    left: 237px;
    top: 7px;
}
.suelo{
    width: 1290px;
    height: 95px;
    border: 20px black;
    background-color: brown;
}
.suelo{
    position: absolute;
    top: 550px;
}
.caja6{
    align-items: left;
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(css/css/pngwing.com.png) repeat-x 0px 0px;
    background-size: 30px 42px;
    background-position-x: 800px;
}
.caja7{
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    right: 600px;
    z-index: 2;
}
.caja9{
    width: 84px;
    height: 84px;
}